*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
.jekyll-cache/
__pycache__
_site
_config.yml
.Rproj.user
.Rhistory
Gemfile.lock
_episodes_rmd/data*
_episodes/
fig/
.Rproj.user
.Rhistory
.RData
.bundle/
.vendor/
vendor/
.docker-vendor/
Gemfile.lock
.*history
